src/components/ProductList.css .status {
  display: inline-block;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 0.9rem;
  color: #fff;
  text-align: center;
  width: fit-content; 
}

.status.Active {
  background-color: #cce5ff;
  color: #004085;
}

.status.acknowledged {
  background-color: #ffeeba;
  color: #856404;
}

.status.pending {
  background-color: #f8d7da;
  color: #721c24;
}

.table-header {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #E8F4FF;
  margin-top: 20px;
  margin-bottom: 30px;
}
.pn {
  margin-left: 105px;
}
.pnstatus {
  margin-left: 170px;
}
.pnq {
  margin-left: 145px;
}
.pnc {
  margin-left: 40px;
}

.pns {
  margin-left: 75px;
}

.pnv {
  margin-left: 52px;
  
}

.product-image {
  margin-left: 15px;
}

.product-n ,.as, .product-date{
  margin-left: 24px;
  width: 190px;
}

.as, .product-date {
  color: #637381;
}

.product-al {
  padding-left: 100px;
  
}

.pro-vender {
  color: #358DEB;
}

.selection-header,
.table-headers {
  display: flex;
  align-items: center;
  gap: 20px;

}

.checkbox-list{
  margin-left: 9px;
}

.dropdown-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.pagination {
  margin-top: 40px;
  margin-left: 10px;
}

.pagination button {
  /* border: solid 1px #004085; */
  background-color: transparent;
  border-radius: 0px;
  border: solid 1px #ADC3E9;
}